body {
    background-color: rgb(30, 30, 33);
    color: rgb(226, 234, 241);
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    animation: rainbow-colors 20s infinite linear;
}
@keyframes rainbow-shadows {
 0% { box-shadow: 15px 15px 40px rgb(255, 0, 0); }
 14.2857143% { box-shadow: 15px 15px 40px rgb(255, 0, 0); }
 28.5714286% { box-shadow: 15px 15px 40px rgb(255, 255, 0); }
 42.8571428857% { box-shadow: 15px 15px 40px rgb(0, 255, 0); }
 57.1428571714% { box-shadow: 15px 15px 40px rgb(0, 255, 255); }
 71.4285714571% { box-shadow: 15px 15px 40px rgb(0, 0, 255); }
 85.7142857428% { box-shadow: 15px 15px 40px rgb(255, 0, 255); }
 100% { box-shadow: 15px 15px 40px rgb(255, 0, 0); }
}

@keyframes rainbow-colors {
 0% { color: rgb(255, 0, 0); }
 14.2857143% { color: rgb(255, 0, 0); }
 28.5714286% { color: rgb(255, 255, 0); }
 42.8571428857% { color: rgb(0, 255, 0); }
 57.1428571714% { color: rgb(0, 255, 255); }
 71.4285714571% { color: rgb(0, 0, 255); }
 85.7142857428% { color: rgb(255, 0, 255); }
 100% { color:rgb(255, 0, 0); }
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}
a {
    color: lightsteelblue;
    font-family: 'consolas', monospace;
    text-decoration: none;
}
p {
    font-family: 'consolas', monospace;
    font-size: 15px;
    text-align: center;
}
#products img {
    box-shadow: 15px 15px 40px black;
    display: block;
    height: 200px;
    border-radius: 20px;
    transition: all 200ms ease-out;
    align-self: center;
}

#products {
    display: flex;
    align-items: center;
    justify-content: center;
}
#products div {
    font-family: 'consolas', monospace;
    text-align: center;
    color: hsl(214, 4.3%, 82.2%);
    transition: all 200ms ease-out;
    font-size: 15px;

    box-shadow: 15px 15px 40px black;
    display: block;
    height: 200px;
    border-radius: 20px;
    transition: all 200ms ease-out;
    align-self: center;
}
#products div:hover {
    font-size: 17px;

    transform: scale(1.1);
    opacity: 90%;
    box-shadow: 20px 20px 50px rgb(42, 45, 49);
}
footer {
    background-color: rgb(21, 22, 22);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100px;
}
#socials {
    padding-left: 10px;
    padding-top: 10px;
    justify-self: left;
}
#youtube img {
    height: 30px;
}
#youtube {
    display: flex;
    align-items: center;

    font-family: 'consolas', monospace;
    font-size: 15px;
    text-align: center;
}
#youtube a {
    text-decoration: none;
    padding-left: 5px;
    color: aliceblue;
}
